.select-role {
    text-align: center;
    padding: 180px 40px;
    margin-top: 60px;
}

.role-buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.role-button {
    position: relative;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    padding: 50px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 240px;
    height: 300px;
}

.role-button:hover {
    background-color: #9cd3e3;
    border-color: #00c6ff;
}

.role-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.role-button:hover .role-image {
    transform: scale(1.1);
}

.role-text {
    font-size: large;
    position: absolute;
    font-weight: bold;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: transparent;
    color: #000000;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.role-button:hover .role-text {
    background-color: #9cd3e3;
}
