.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #000000; 
  margin-top: 200px;

.home-content {
  flex: 1;
  text-align: center;
}

.home-content h1 {
  color: #000000; 
}

.home-content p {
  color: #090909; 
}


.home-image {
  flex: 1;
  text-align: right;
}

.home-image img {
  max-width: 100%;
  height: auto;
}

.button-7 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  overflow: hidden;
  margin-left: 60px; /* Adjust margin if needed */
}

.button-7:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 40%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 20%;
}

.button-7:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    text-align: center;
    margin-top: 100px; 
  }

  .home-content, .home-image {
    flex: none;
  }

  .home-image {
    margin-top: 20px;
  }
}

}